{% extends 'layout.html' %}

{% block content %}

<div class="todo-app">
    <p class="title">todo app</p>
    <div class="todo">
        <form autocomplete="off" method="post">
            {{ form.csrf_token() }}
            {{ form.name(class='todo-input') }}
            {{ form.submit(class='todo-button') }}
        </form>
    </div>
    <div class="task-list">
        {% if (todoArray is defined) and todoArray %}
        {% for todo in todoArray %}
        <div class="task">
            <div>
                <span class="task-title">
                    {{ todo['title'] }}
                </span>
            </div>
            <div class="task-button-group">
                <div class="task-button check">
                    <a href="">
                        <span class="material-icons">
                            check
                        </span>
                    </a>
                </div>
                <div class="task-button edit">
                    <a href="">
                        <span class="material-icons">
                            edit_note
                        </span>
                    </a>
                </div>
                <div class="task-button delete">
                    <a href="">
                        <span class="material-icons">
                            delete
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <span class="empty-text">
            You have no task today! 🎉
        </span>
        {% endif %}
    </div>
</div>
{% endblock %}