{% extends 'layout.html' %}

    {% block content %}

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

    <div class="todo-app">
        <p class="title">todo app</p>
        <div class="todo">
            <form autocomplete="off" action="{{ url_for('add_todo') }}" method="post">
                <input type="text"
                    role="presentation"
                    name="todo" 
                    placeholder="Enter a todo..."
                >
                <button>add todo</button>
            </form>
        </div>
        <div class="task-list">
            {% if (todos is defined) and todos %}

                {% for todo in todos %}
                <div class="task">
                    <div>
                        <a href="{{ url_for('check_todo', index=loop.index0) }}"
                            class="check-task"
                        >
                            {% if todo['done'] %} 
                                X
                            {% else %}
                                ✓
                            {% endif %}
                        </a>
                        <span class="task-title"
                            {% if todo['done'] %} style="text-decoration: line-through;" {% endif %}
                        >
                            {{ todo['task'] }}
                        </span>
                    </div>
                    <div>
                        
                        <a href="{{ url_for('edit_todo', index=loop.index0) }}"
                        class="edit-task"
                        >Edit</a>
                        <a href="{{ url_for('delete_todo', index=loop.index0) }}"
                        class="remove-task"
                        >Delete</a>
                    </div>
                </div>
                {% endfor%}

                {% else %}
                <span class="empty-text">
                    You have no task today! 🎉
                </span>
            {% endif %}
        </div>
    </div>
    {% endblock %}