{% extends 'layout.html' %}
{% block content %}
<h2 class="text-center my-2">Todo App</h2>
{% if (todoArray is defined) and todoArray %}
{% for todo in todoArray %}
<div class="card p-1 m-3">
    <div class="card-body">
        {% if todo.completed == "True" %}
        <h5 class="card-title"><del>{{todo.name}}</del></h5>
        {% else %}
        <h5 class="card-title">{{todo.name}}</h5>
        {% endif %}

        <p class="card-text text-muted">{{ todo.date_created }}</p>
        <p class="card-text">{{ todo.description }}</p>
    </div>
</div>
{% endfor %}
{% else %}
<span class="empty-text">
    You have no task today! 🎉
</span>
{% endif %}






{% endblock %}