header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.empty-text {
    margin-top: 10rem;
    font-size: 18px;
}

.todo .card-header {
    display: flex;
    justify-content: space-between;
}