.material-icons {
    font-size: 18px;
}

.todo-app {
    width: 30rem;
    height: 30rem;
    margin: 40px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    border-radius: 10px;
}

.todo-app .title {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.todo-app .todo {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.todo-app .todo .todo-input {
    width: 68%;
    margin-right: 3px;
    height: 30px;
    border: 1px solid #486def;
    border-radius: 5px;
    padding: 10px;
}

.todo-app .todo .todo-button {
    border: none;
    background: #486def;
    border-radius: 5px;
    padding: 4px 7px;
    color: #fff;
    text-transform: capitalize;
}

.todo-app .todo button:hover {
    background-color: #fff;
    color: #486def;
    cursor: pointer;
    box-shadow: #3860eb2b 0px 4px 5px 2px;
}

.todo-app .task-list {
    width: 100%;
    min-height: 100px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-app .task {
    width: 80%;
    padding: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: 5px;
    box-shadow: #3860eb2b 0px 4px 5px 2px;
}

.todo-app .task-title {
    margin-left: 5px;
    text-transform: capitalize;
}

.todo-app .task-button-group {
    display: flex;
}

.todo-app .task-button {
    cursor: pointer;
    padding: 5px 6px;
    margin: 0 3px;
    border-radius: 5px;
}

.todo-app  .task-button.check:hover {
    background-color: #fff;
    box-shadow: #3860eb2b 0px 4px 5px 2px;
}

.todo-app .task-button.check:hover a {
    color: #2db178;
}

.todo-app .task-button.edit:hover {
    color: #f57b08;
    background-color: #fff;
    box-shadow: #3860eb2b 0px 4px 5px 2px;
}

.todo-app .task-button.edit:hover a {
    color: #f57b08;
}

.todo-app .task-button.delete:hover {
    color: #cc0a00;
    background-color: #fff;
    box-shadow: #3860eb2b 0px 4px 5px 2px;
}

.todo-app .task-button.delete:hover a {
    color: #cc0a00;
}

.todo-app .task a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.todo-app .check {
    background-color: #2db178;
}

.todo-app .edit {
    background-color: #f57b08;
}

.todo-app .delete {
    background-color: #cc0a00;
}

